body {
  /* background-image: url("/src/assets/3.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(3, 3, 39);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
